html{
    background-color: #E3E2DF;
    font-family: 'Teko', sans-serif;
}
.head{
    position: relative;
    height:30px;
}
.logo img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 8px;
    left: 75px;
}
.navbar_btn{
    position: absolute;
    right: 90px;
    top: 26px;
    margin: auto;
}
.navbar_btn li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
.navbar_btn a{
    text-decoration: none ;
    color: #5D001E;
    /* border: solid 1px #5D001E; */
    padding: 10px 20px ;
    font-size: 25px;
}
.navbar_btn a:hover{
    color: #EE4C7C;
}
.content{
    position: relative;
    height: auto;
}
.work{
    margin-top: 140px;
    margin-left: 130px;
    font-size: 20px;
    
}

.headings{
    font-size: 50px;
    text-decoration: none;
    color: #5D001E;
    display: block;
    width: 250px;
}
.headings:hover{
    color: #EE4C7C;
}
.pixel{
    width: 1000px;
    height: 700px;
    margin-left: 84px;
    margin-top: 34px;
    position: relative;
}
.photo{
    position: absolute;
}

#moon{
    width: 250px;
    height: 500px;
    top: 50px;
    left: 120px;
}
#cloud{
    width: 500px;
    height: 250px;
    top: 50px;
    left: 375px;
}
#forest{
    width: 500px;
    height: 250px;
    top: 300px;
    left: 375px;
}
#npc{
    width: 250px;
    height: 250px;
    top: 50px;
    left: 880px;
}
#npc1{
    width: 250px;
    height: 250px;
    top: 300px;
    left: 880px;
}

.gifs{
    position: absolute;
   
}
#gif{
    top: 81px;
    left: 189px;
}
#gif2{
    top: 81px;
    left: 606px;
}
#footer{
    position: absolute;
    bottom: 0;
    height: 20px;
}
/* jh */
